{% extends 'base.html' %}

{% load static %}

{% block title %}
   Inicio 
{% endblock title %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible" role="alert">
    {% else %}
        <div class="alert alert-danger alert-dismissible" role="alert">
    {% endif %}
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} 
{% endif %}
<div class="container py-4">
   <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="/">Inicio</a></li>
       </ol>
   </nav>
   <br>
</div>
<div class="row pb-4">
   <div class="col-md-4">
      <div class="card py-3 text-center">
         <a href="{% url 'Control:registro_pieza' %}"><img src="{% static 'assets/dist/img/iconos/piezas.png' %}"
            style="width: 200px; height:200px;"></a>
           <h3>Registro de Piezas</h3>
      </div>
   </div>
   <div class="col-md-4">
      <div class="card py-3 text-center">
         <a href="{% url 'Control:municipio' %}"><img src="{% static 'assets/dist/img/iconos/municipio.png' %}"
            style="width: 200px; height:200px;"></a>
            <h3>Municipio</h3>
      </div>
   </div>
   <div class="col-md-4">
      <div class="card py-3 text-center">
         <a href="{% url 'Control:tipo_venta' %}"><img src="{% static 'assets/dist/img/iconos/venta.png' %}"
            style="width: 200px; height:200px;"></a>
            <h3>Tipos de Ventas</h3>
      </div>
   </div>
   <div class="col-md-4" style="margin-top: 15px;">
      <div class="card py-3 text-center">
         <a href="{% url 'Control:registro' %}"><img src="{% static 'assets/dist/img/iconos/registro.png' %}"
                  style="width: 200px; height:200px;"></a>
          <h3>Registros</h3>
      </div>
   </div>
   <div class="col-md-4">
      <div class="card py-3 text-center" style="margin-top: 15px;">
         <a href="{% url 'Control:listado' %}"><img src="{% static 'assets/dist/img/iconos/list.png' %}"
                  style="width: 200px; height:200px;"></a>
         <h3>Listado</h3>
      </div>
   </div>
   <div class="col-md-4">
      <div class="card py-3 text-center" style="margin-top: 15px;">
         <a href="{% url 'Almacen:inicio_almacen' %}"><img src="{% static 'assets/dist/img/iconos/list.png' %}"
                  style="width: 200px; height:200px;"></a>
         <h3>Almacén</h3>
      </div>
   </div>
{% endblock content %}
    
    