{% load static %}
<footer class="footer text-light pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 pt-5">
                <div class="row">                         
                    <div class="col">                    
                        <a href="http://www.citmatel.cu">                        
                            <img src="{% static '/assets/dist/img/citmatel.png' %}" width="204" height="61">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 pt-5">
                <div class="row">
                    <h4 class="footer-header">Información de Contacto</h4>
                    <p class="footer-text">
                        Empresa de Tecnologías de la Información y Servicios Telemáticos Avanzados, CITMATEL
                    </p>
                </div>
                <div class="row">                       
                    <h4 class="footer-header">Dirección</h4>
                    <p class="footer-text">
                        Ave 47 N0. 1802 e/ 18A y 20, Playa, La Habana, Cuba. C.P 1130
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 pt-5">
                <div class="row">
                    <h4 class="footer-header">Teléfonos</h4>
                    <p class="footer-text">
                        (53) 7204 3145 <br>
                        (53) 7214 4971-76
                    </p>
                </div>
                <div class="row">                        
                    <h4 class="footer-header">Correo</h4>
                    <p class="footer-text">
                        comercial@citmatel.cu
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 pt-5">
                <h4 class="footer-header">Redes Sociales</h4>
                <p class="footer-text">                
                    <a href="https://www.facebook.com/Citmatel" style="color: white; text-decoration: none">
                        <img src="{% static 'assets/dist/img/facebook.png' %}" alt="Facebook" width="22" height="22" >
                        Citmatel
                    </a>
                </p>
                <p class="footer-text">
                    <a href="https://twitter.com/CITMATELOficial" style="color: white; text-decoration: none">
                        <img src="{% static 'assets/dist/img/twitter.png' %}" alt="Twitter" width="22" height="22">
                        @CITMATELOficial
                    </a>
                </p>   
                <p class="footer-text">
                    <img src="{% static 'assets/dist/img/whatsapp.png' %}" alt="WhatsApp" width="22" height="22">
                    (53) 52877628
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-9 offset-md-3">                   
                <span class="text-light">
                    © Copyright 2022. <a class="text-light" target="_blank" href="http://www.citmatel.cu">CITMATEL</a> ®. Todos los derechos reservados.
                </span>
            </div>
        </div>
    </div>
</footer>
