{% extends 'base.html' %}
{% load static %}
{% block title %}
    Almacen
{% endblock title %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible" role="alert">
    {% else %}
        <div class="alert alert-danger alert-dismissible" role="alert">
    {% endif %}
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} 
{% endif %}
<div class="container py-4">
   <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="/">Inicio</a></li>
           <li class="breadcrumb-item active" aria-current="page">Almacén</li>
       </ol>
   </nav>
   <br>
</div>
<div class="row pb-4">
   <div class="col-md-4">
      <div class="card py-3 text-center">
         <a href="{% url 'Almacen:registro_tienda' %}"><img src="{% static 'assets/dist/img/iconos/piezas.png' %}"
            style="width: 200px; height:200px;"></a>
           <h3>Registro Almacén</h3>
      </div>
   </div>
   <div class="col-md-4">
      <div class="card py-3 text-center">
         <a href="{% url 'Almacen:administrador' %}"><img src="{% static 'assets/dist/img/iconos/piezas.png' %}"
            style="width: 200px; height:200px;"></a>
           <h3>Administrar</h3>
      </div>
   </div>
   <div class="col-md-4">
      <div class="card py-3 text-center">
         <a href="{% url 'Almacen:disponibilidad' %}"><img src="{% static 'assets/dist/img/iconos/municipio.png' %}"
            style="width: 200px; height:200px;"></a>
            <h3>Entregado a Almacén</h3>
      </div>
   </div> 
</div>  
{% endblock content %}
    
    