{% extends 'base.html' %}

{% load static %} 

{% block title %}
    Detalles
{% endblock title %}

{% block content %}
<h4 style="text-align: center;">Facturación</h4>
<hr>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Descuento Pasarela</th>
        <th scope="col">Precio Tienda</th>
        <th scope="col">Importe Pasarela</th>
        <th scope="col">Importe Tienda</th>
        <th scope="col">Importe Factura</th>
        <th scope="col">Total a Pagar</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
    <tr>
        <th scope="row">{{producto.id}}</th>
        <td>{{producto.descuento_pasarela}}</td>
        <td>{{producto.precio_tienda}}</td>
        <td>{{producto.importe_pasarela}}</td>
        <td>{{producto.importe_tienda}}</td>
        <td>{{producto.import_fact}}</td>
        <td>{{producto.total_pagar}}</td>
      {% endfor %}  
    </tbody>
</table>  

<h4 style="text-align: center;"> Total</h4>
<hr>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Descuento Pasarela Total</th>
        <th scope="col">Precio Tienda Total</th>
        <th scope="col">Importe Pasarela Total</th>
        <th scope="col">Importe Tienda Total</th>
        <th scope="col">Importe Factura Total</th>
        <th scope="col">Total a Pagar (Total)</th>
      </tr>
    </thead>
    <tbody>

    <tr>
        <td>{{Descuento_pasarelaT}}</td>
        <td>{{Precio_tiendaT}}</td>
        <td>{{Importe_pasarelaT}}</td>
        <td>{{Importe_tiendaT}}</td>
        <td>{{Importe_facturaT}}</td>
        <td>{{Total_pagarT}}</td> 
    </tbody>
</table>  

{% endblock content %}