{% extends 'base.html' %}

{% load static %} 

{% block title %}
    Listado de Registro
{% endblock title %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible" role="alert">
    {% else %}
        <div class="alert alert-danger alert-dismissible" role="alert">
    {% endif %}
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} 
{% endif %}
<div class="container py-4">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Listado</li>
      </ol>
  </nav>
  <br>

  <div class="row">
      <div class="col">
          <h1>Listado</h1>
          <hr>
      </div>
  </div>
  <br>
  <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-body">
                  <form action="/control/filtrado">
                      <div class="row">
                          <div class="col mb-3">
                              <label for="pedido" class="form-label">Pedido</label>
                              <input id="pedido" type="text" class="form-control" name="pedido">
                          </div>
                          <div class="col mb-3">
                              <label for="codigo" class="form-label">Código</label>
                              <input id="codigo" type="text" class="form-control" name="codigo">
                          </div>
                          <div class="col mb-3">
                              <label for="fecha_compra" class="form-label">Fecha Compra</label>
                              <input id="fecha_compra" type="date" class="form-control" name="fecha_compra">
                          </div>    
                      </div>
                      <div class="row">                         
                          <div class="col mb-3">
                              <label for="entrega_fecha" class="form-label">Fecha Entrega</label>
                              <input id="entrega_fecha" type="date" class="form-control" name="entrega_fecha">
                          </div>             
                          <div class="col mb-3">
                            <label for="productos" class="form-label">Productos</label>
                            <input id="productos" type="text" class="form-control" name="productos">
                          </div>
                          <div class="col mb-3">
                            <label for="venta" class="form-label">Tipos de Ventas</label>
                            <input id="venta" type="text" class="form-control" name="venta">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <div class="d-flex justify-content-end">
                                  <button type="submit" class="btn btn-primary">
                                      Filtrar
                                  </button>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Pedido</th>
          <th scope="col">Municipio</th>
          <th scope="col">Fecha Compra</th>
          <th scope="col">O.Trabajo</th>
          <th scope="col">Pre_Factura</th>
          <th scope="col">Factura</th>
          <th scope="col">Fecha Entrega</th>
          <th scope="col">Entregado</th>
          <th scope="col">Recibido</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for registro in registros %}
      <tr>
          <th scope="row">{{registro.id}}</th>
          <td>{{registro.numero}}</td>
          <td>{{registro.municipio}}</td>
          <td>{{registro.fecha_compra}}</td>
          <td>{{registro.orden_trabajo}}</td>
          <td>{{registro.pre_fact}}</td>
          <td>{{registro.fact}}</td>
          <td>{{registro.fecha}}</td>
          <td>{{registro.entregado}}</td>
          <td>{{registro.recibe}}</td>
          <td> <a class="btn btn-secondary" href="{% url 'Control:detalles_pedido' registro.id%}" role="button">Detalles</a></td>
          <td> <a class="btn btn-success" href="{% url 'Control:update' registro.id %}"  role="button">Actualizar</a></td>
          <td> <a class="btn btn-danger" href="{% url 'Control:delete' registro.id %}" role="button">Eliminar</a></td>    
      {% endfor %}
      </tbody>
  </table>
</div>          
{% endblock content %}